# Dependencies
node_modules/
.pnpm-store/

# Build Output
dist/
build/

# Environment & Secrets
.env
.env.local
.env.production
.vercel

# Database & Logs
data/*.db
data/*.db-journal
data/*.db-wal
data/*.db-shm
db
db-wal
db-shm
*.log
logs/

# System & IDE
.DS_Store
.idea/
.vscode/
*.swp
*.tmp
.vercel
.env*
